body{
    margin-top:70px;
}
body::before{
    content:'XS';
    color: red;
    font-size:40px;
    position:fixed;
    font-weight:bold;
    top:10px;
    left:10px;

    
}
@media(min-width:576px){
    body::before{
        content:'SM';
    }
}

@media(min-width:760px){
    body::before{
        content:'MD';
    }
}

@media(min-width:992px){
    body::before{
        content:'LD';
    }
}

@media(min-width:1200px){
    body::before{
        content:'XL';
    }
}

@media(min-width:1400px){
    body::before{
        content:'XXL';
    }
}



